## 1. Introduction
<p><img src="https://assets.datacamp.com/production/project_1197/img/google_play_store.png" alt="Google Play logo"></p>
<p>Mobile apps are everywhere. They are easy to create and can be very lucrative from the business standpoint. Specifically, Android is expanding as an operating system and has captured more than 74% of the total market<sup><a href="https://www.statista.com/statistics/272698/global-market-share-held-by-mobile-operating-systems-since-2009">[1]</a></sup>. </p>
<p>The Google Play Store apps data has enormous potential to facilitate data-driven decisions and insights for businesses. In this notebook, we will analyze the Android app market by comparing ~10k apps in Google Play across different categories. We will also use the user reviews to draw a qualitative comparision between the apps.</p>
<p>The dataset you will use here was scraped from Google Play Store in September 2018 and was published on <a href="https://www.kaggle.com/lava18/google-play-store-apps">Kaggle</a>. Here are the details: <br>
<br></p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/apps.csv</b></div>
This file contains all the details of the apps on Google Play. There are 9 features that describe a given app.
<ul>
    <li><b>App:</b> Name of the app</li>
    <li><b>Category:</b> Category of the app. Some examples are: ART_AND_DESIGN, FINANCE, COMICS, BEAUTY etc.</li>
    <li><b>Rating:</b> The current average rating (out of 5) of the app on Google Play</li>
    <li><b>Reviews:</b> Number of user reviews given on the app</li>
    <li><b>Size:</b> Size of the app in MB (megabytes)</li>
    <li><b>Installs:</b> Number of times the app was downloaded from Google Play</li>
    <li><b>Type:</b> Whether the app is paid or free</li>
    <li><b>Price:</b> Price of the app in US$</li>
    <li><b>Last Updated:</b> Date on which the app was last updated on Google Play </li>

</ul>
</div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/user_reviews.csv</b></div>
This file contains a random sample of 100 <i>[most helpful first](https://www.androidpolice.com/2019/01/21/google-play-stores-redesigned-ratings-and-reviews-section-lets-you-easily-filter-by-star-rating/)</i> user reviews for each app. The text in each review has been pre-processed and passed through a sentiment analyzer.
<ul>
    <li><b>App:</b> Name of the app on which the user review was provided. Matches the `App` column of the `apps.csv` file</li>
    <li><b>Review:</b> The pre-processed user review text</li>
    <li><b>Sentiment Category:</b> Sentiment category of the user review - Positive, Negative or Neutral</li>
    <li><b>Sentiment Score:</b> Sentiment score of the user review. It lies between [-1,1]. A higher score denotes a more positive sentiment.</li>

</ul>
</div>
<p>From here on, it will be your task to explore and manipulate the data until you are able to answer the three questions described in the instructions panel.<br></p>

In [17]:
# Use this cell to begin your analysis, and add as many as you would like!
import pandas as pd
import numpy as np

In [18]:
# Load the apps data
apps = pd.read_csv('datasets/apps.csv')
apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0.0,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0.0,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0.0,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0.0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0.0,"June 20, 2018"

In [19]:
apps['Installs'].value_counts()

1,000,000+        1417
100,000+          1112
10,000+           1031
10,000,000+        937
1,000+             888
100+               710
5,000,000+         607
500,000+           505
50,000+            469
5,000+             468
10+                385
500+               328
50+                204
50,000,000+        202
100,000,000+       188
5+                  82
1+                  67
500,000,000+        24
1,000,000,000+      20
0+                  14
0                    1
Name: Installs, dtype: int64

In [20]:
# replace the special characters in the Installs column
char_list = ['+', ',']
    
for char in char_list:
    apps['Installs'] = apps['Installs'].apply(lambda x: x.replace(char, ''))

apps['Installs'] = apps['Installs'].astype(int)

In [21]:
apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,"June 20, 2018"

In [22]:
# Calculate the app count, average price and average rating
app_category_info = apps.groupby('Category').agg({'App': 'count', 'Price': 'mean', 'Rating': 'mean'})
app_category_info.head()

                     App     Price    Rating
Category
ART_AND_DESIGN        64  0.093281  4.357377
AUTO_AND_VEHICLES     85  0.158471  4.190411
BEAUTY                53  0.000000  4.278571
BOOKS_AND_REFERENCE  222  0.539505  4.344970
BUSINESS             420  0.417357  4.098479

In [23]:
# rename the columns
app_category_info = app_category_info.rename(columns={'App': 'Number of apps', 'Price': 'Average price', 
                                                     'Rating': 'Average rating'})

In [24]:
app_category_info.head()

                     Number of apps  Average price  Average rating
Category
ART_AND_DESIGN                   64       0.093281        4.357377
AUTO_AND_VEHICLES                85       0.158471        4.190411
BEAUTY                           53       0.000000        4.278571
BOOKS_AND_REFERENCE             222       0.539505        4.344970
BUSINESS                        420       0.417357        4.098479

In [25]:
# load the user_reviews data
reviews = pd.read_csv('datasets/user_reviews.csv')
reviews.head()

,App,Review,Sentiment Category,Sentiment Score
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25
2,10 Best Foods for You,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40
4,10 Best Foods for You,Best idea us,Positive,1.00

In [26]:
# select only the Finance apps
finance_apps = apps[apps['Category'] == 'FINANCE']
finance_apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
837,K PLUS,FINANCE,4.4,124424,NaN,10000000,Free,0.0,"June 26, 2018"
838,ING Banking,FINANCE,4.4,39041,NaN,1000000,Free,0.0,"August 3, 2018"
839,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018"
840,The postal bank,FINANCE,3.7,36718,NaN,5000000,Free,0.0,"July 16, 2018"
841,KTB Netbank,FINANCE,3.8,42644,19.0,5000000,Free,0.0,"June 28, 2018"

In [27]:
# select only the free apps
free_finance_apps = finance_apps[finance_apps['Type'] == 'Free']
free_finance_apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
837,K PLUS,FINANCE,4.4,124424,NaN,10000000,Free,0.0,"June 26, 2018"
838,ING Banking,FINANCE,4.4,39041,NaN,1000000,Free,0.0,"August 3, 2018"
839,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018"
840,The postal bank,FINANCE,3.7,36718,NaN,5000000,Free,0.0,"July 16, 2018"
841,KTB Netbank,FINANCE,3.8,42644,19.0,5000000,Free,0.0,"June 28, 2018"

In [28]:
# merge the free_finance_apps dataframe and reviews dataframe
app_reviews = free_finance_apps.merge(reviews, how='inner', on='App')
app_reviews.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated,Review,Sentiment Category,Sentiment Score
0,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018","Forget paying app, designed make fail payments...",Negative,-0.500000
1,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018","It's working expected, talking best bank Mexic...",Positive,0.400000
2,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018",It has many problems with Android 8.1. You can...,Positive,0.250000
3,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018","I changed my phone to a Xiaomi Redmi Note 5, t...",Positive,0.175000
4,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018",In her eagerness to make her look pretty with ...,Negative,-0.158333

In [29]:
# Find the average sentiment score for each app
top_10_apps = app_reviews.groupby('App')['Sentiment Score'].mean().reset_index()
top_10_apps

                                                App  Sentiment Score
0                                         A+ Mobile         0.329592
1                                         ACE Elite         0.252171
2                      Acorns - Invest Spare Change         0.046667
3                                       Amex Mobile         0.175666
4                    Associated Credit Union Mobile         0.388093
5                              BBVA Compass Banking         0.205590
6                                        BBVA Spain         0.515086
7                                    BZWBK24 mobile         0.326883
8                    Bank of America Mobile Banking         0.180027
9                               BankMobile Vibe App         0.353455
10                                    Banorte Movil         0.116999
11                          Barclays US for Android         0.017928
12                                       Betterment         0.143252
13                           Bloomberg Professional        -0.023353
14                     Bluebird by American Express              NaN
15                                           Branch         0.264230
16                                Bualuang mBanking         0.004322
17  CNBC: Breaking Business News & Live Market Data         0.247704
18                              Capital One® Mobile              NaN
19                           Capitec Remote Banking              NaN
20                                         Cash App              NaN
21                                     Chase Mobile         0.048166
22                           Chime - Mobile Banking              NaN
23                                     Citi Mobile®        -0.038731
24                                Citibanamex Movil         0.150061
25                     Citizens Bank Mobile Banking         0.013179
26                                     Credit Karma         0.270052
27                                    Credit Sesame         0.088667
28                      CreditWise from Capital One         0.239454
29        Current debit card and app made for teens         0.327258
30                   Digit Save Money Automatically         0.250246
31                                  Discover Mobile        -0.041667
32                                   E*TRADE Mobile         0.153273
33                           Ecobank Mobile Banking        -0.014860
34       Even - organize your money, get paid early         0.283929
35                      Everlance: Free Mileage Log              NaN
36                         Expense IQ Money Manager         0.227506
37                    Experian - Free Credit Report         0.170504
38                   FREE Stock Market Trading Tips              NaN
39                     Fortune City - A Finance App         0.266966
40                                     Fox Business         0.088827
41                   Fresh EBT - Food Stamp Balance         0.159727
42          GCash - Buy Load, Pay Bills, Send Money         0.027082
43                                           GoBank         0.039101
44                                       Google Pay         0.115687
45                          HDFC Bank MobileBanking         0.111449

In [30]:
# save the apps with top 10 sentiment score
top_10_user_feedback = top_10_apps.sort_values(by='Sentiment Score', ascending=False).reset_index(drop=True)[:10]
top_10_user_feedback

                                          App  Sentiment Score
0                                  BBVA Spain         0.515086
1              Associated Credit Union Mobile         0.388093
2                         BankMobile Vibe App         0.353455
3                                   A+ Mobile         0.329592
4   Current debit card and app made for teens         0.327258
5                              BZWBK24 mobile         0.326883
6  Even - organize your money, get paid early         0.283929
7                                Credit Karma         0.270052
8                Fortune City - A Finance App         0.266966
9                                      Branch         0.264230